<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>cy-code选课系统｜选课列表</title>
     <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-seckillOrder.css" />
</head>

<body>
    <!-- 头部栏位 -->
    <!--页面顶部-->
<div id="nav-bottom">
	<!--顶部-->
	<div class="nav-top">
		<div class="top">
			<div class="py-container">
				<div class="shortcut">
					<ul class="fl">
						<li class="f-item">cy-code欢迎您！</li>
						<li class="f-item">请<a href="login.html" target="_blank">登录</a><span><a href="register.html" target="_blank">免费注册</a></span></li>
					</ul>
					<div class="fr typelist">
						<ul class="types">
                            <li class="f-item"><span><a href="/page/selection" target="_blank">我的选课情况</a></span></li>
                            <li class="f-item"><span><a href="/page/course" target="_blank">选课列表</a></span></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>

		<!--头部-->
		<div class="header">
			<div class="py-container">
				<div class="yui3-g Logo">
					<div class="yui3-u Left logoArea">
						<a class="logo-bd" title="青橙" href="index.html" target="_blank"></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">

                    <div class="person-info">
                        <div class="person-photo"><img src="/img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name">eddie</span>
                            <span class="safe">账户安全</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list-items">
                        <dl>
							<dt><i>·</i> 选课中心</dt>
                            <dd ><a href="/page/course" >选课列表</a></dd>
                            <dd ><a href="/page/selection" >我的选课情况</a></dd>
						</dl>
						<dl>
							<dt><i>·</i> 我的中心</dt>
						</dl>
						<dl>
							<dt><i>·</i> 设置</dt>
						</dl>
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6">
                    <div class="body userAddress">
                        <div class="address-title">
                            <span class="title">选课列表</span>
                            <span class="clearfix"></span>
                        </div>
                        <div class="address-detail">
                            <table class="sui-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>课程号</th>
										<th>课程名称</th>
                                        <th>任课教师</th>
										<th>学分</th>
										<th>学时</th>
										<th>上课时间地点</th>
										<th>剩余可选人数</th>
										<th>总人数</th>
										<th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="course:${courseList}">
                                        <td th:text="${course.getId()}"></td>
                                        <td th:text="${course.getName()}"></td>
                                        <td th:text="${course.getTeacherName()}"></td>
                                        <td th:text="${course.getCredit()}"></td>
                                        <td th:text="${course.getDurationEnd() - course.getDurationStart()}"></td>
                                        <td th:text="${course.getTime() + ' ' + course.getPlace()}"></td>
                                        <td th:id="${course.getId() + 'stock'}"></td>
                                        <td th:text="${course.getTotal()}"></td>
                                        <td>
                                            <a th:data-toggle="${course.getId()}" th:onclick="chooseCourse(this.getAttribute('data-toggle'))">选课</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                          
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--页面底部END-->
    





</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script>
    $.ajax
    ({
        cache: false,
        async: false,
        type: 'get',
        url: "/seckill/course/stock",
        success: function (data){
            for (var i = 0; i < data.length; i++) {
                $("#" + data[i].id + "stock").html(data[i].stock);
            }
        }
    });

    function chooseCourse(courseId) {
        $.ajax
        ({
            cache: false,
            async: false,
            type: 'get',
            url: "/seckill/add?courseId=" + courseId,
            success: function (data) {
                if (data.code == 0) {
                    alert("抢课请求已经提交，请到选课情况界面查看");
                } else {
                    alert(data.message);
                }
            }
        });
    }
</script>

</html>